a {
    text-decoration: none;
}

.payment {
    padding-top: 6rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}
td {
    padding:10px;
    text-align: start;
}
th{
    padding:10px;
}
.paymentss{
    background:rgb(255, 255, 255);
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 5px rgb(218, 218, 218);
    margin: auto;
    width: 100%;
    overflow-x: auto;
}
.paymentss h1 {
    text-align: center;
}
.paymentss form {
    margin: 0 auto;
    width: 100%;
}
.paymentss table {
    margin: 0 auto;
    width: 600px;
}